{% extends "layouts/base.html" %}
{% load static %}


{% block content %}

    <div class="container-fluid py-4">
      <div class="row min-vh-75">
        <div class="col-lg-8 col-md-12 mx-auto">
          <div class="places-sweet-alerts mt-5">
            <h2 class="text-center">Sweet Alert</h2>
            <p class="category text-center">Krásny plugin, ktorý nahrádza klasické upozornenie, ručne vytvorený našim priateľom <a target="_blank" href="https://twitter.com/t4t5">Tristanom Edwardsom</a>. Prezrite si <a href="https://sweetalert2.github.io/" target="_blank">kompletnú dokumentáciu.</a></p>
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Základný príklad</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('basic')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Správa o úspešnej operácii</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('success-message')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Vlastný HTML popis</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('custom-html')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Požiadavka na Github avatar</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('input-field')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Nadpis s textom pod ním</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('title-and-text')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Správa s automatickým zatvorením</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('auto-close')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-5">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Varovná správa s funkciou priradenou k tlačidlu "Potvrdiť"...</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('warning-message-and-confirmation')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">...a pridaním parametra môžete vykonať niečo iné pre "Zrušiť"</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('warning-message-and-cancel')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="card">
                <div class="card-body text-center">
                  <p class="card-text">Podpora sprava doľava pre arabčinu, perzský, hebrejčinu a iné RTL jazyky</p>
                  <button class="btn btn-primary mb-0" onclick="soft.showSwal('rtl-language')">Vyskúšaj ma!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; VERTECO coded by <a href="https://www.verteco.digital" class="font-weight-bold">VERTECO</a>.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.verteco.digital/product/soft-ui-dashboard-pro/django/" class="nav-link text-muted">Stiahnuť</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.verteco.digital/docs/products/django/soft-ui-dashboard-pro/index.html" class="nav-link text-muted">Dokumentácia</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.verteco.digital/product/soft-ui-dashboard/django/" class="nav-link text-muted">Bezplatná verzia</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

{% endblock content %}

{% block extra_js %}

  <script src="{% static "assets/js/plugins/sweetalert.min.js" %}"></script>

{% endblock extra_js %}